<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Tomas Vitek</string>
	<key>Builder Version</key>
	<string>8536.30.1</string>
	<key>CFBundleDisplayName</key>
	<string>Google Services Buttons</string>
	<key>CFBundleIdentifier</key>
	<string>com.tomasvitek.safari.google-buttons</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>default.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>open-gcal</string>
				<key>Identifier</key>
				<string>gcal-button</string>
				<key>Image</key>
				<string>icons/gcal.png</string>
				<key>Label</key>
				<string>Google Calendar</string>
				<key>Palette Label</key>
				<string>Open Google Calendar</string>
				<key>Tool Tip</key>
				<string>Open Google Calendar</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>open-gmail</string>
				<key>Identifier</key>
				<string>gmail-button</string>
				<key>Image</key>
				<string>icons/gmail.png</string>
				<key>Label</key>
				<string>Gmail</string>
				<key>Palette Label</key>
				<string>Open Gmail</string>
				<key>Tool Tip</key>
				<string>Open Gmail</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Small Safari extention which adds two buttons to your toolbar, which open Gmail and Google Calendar.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.github.com/tomikvitek/safari-google-buttons/master/manifest.plist</string>
	<key>Website</key>
	<string>http://tomasvitek.com</string>
</dict>
</plist>
