<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>https://mail.google.com</string>
		<key>Key</key>
		<string>emailUrl</string>
		<key>Title</key>
		<string>Email URL</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>https://www.google.com/calendar</string>
		<key>Key</key>
		<string>calendarUrl</string>
		<key>Title</key>
		<string>Calendar URL</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
